.image{
    position: relative;
    height: 100vh;

}

.content{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.img-text{
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    font-size: 2.7rem;
    letter-spacing: 10px;
    
}

h3{
    letter-spacing: 6px;
    text-transform: uppercase;
    font: 1.4rem;
    text-align: center;

}

.text-box{
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
}

.img-btn{
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    font-size: 2.7rem;
    letter-spacing: 10px;
}

.img-btn:hover{
    background-color: #fff;
    transition: 1s ease-in-out;
    color: #333;
}
